.current-line {
    background-color: #5AB439;
    font-family: 'Chilanka', cursive;
    font-weight: 700;
    font-size: 24px;
    height: 155px;
}

.grey-line {
    background-color: rgb(143, 143, 143);
}

.current-line-text-container {
    display: flex;
    justify-content: center;
}

.current-line-text {
    padding: 25px;
    padding-bottom: 15px;
}

.current-line-time {
    text-align: center;
    font-size: 48px;
    padding: 18px;
    padding-bottom: 15px;
}

.current-line-text > p {
    margin: 0;
}

.current-line-time > p {
    margin: 0;
}

.break-container {
    background-color: rgb(246, 124, 87);
    font-family: 'Chilanka', cursive;
    font-weight: 700;
    font-size: 20px;
    height: 155px;
}

.break-text {
    text-align: center;
    font-size: 20px;
    padding: 25px;
    padding-bottom: 15px;
    margin: 0;
}

.break-time {
    text-align: center;
    font-size: 48px;
    padding: 25px;
    padding-bottom: 15px;
    margin: 0;
}

.next-line {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #FFF0DA;
    border-bottom: 2px solid #FFF0DA;
    min-height: 75px;
}

.next-text > p {
    margin: 0;
    padding: 20px;
    font-family: 'Chilanka', cursive;
    font-weight: 700;
}


.previous-line {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #FFF0DA;
    border-bottom: 2px solid #FFF0DA;
    min-height: 75px;
    margin-top: 50px;
}

.previous-text > p {
    margin: 0;
    padding: 20px;
    text-decoration: line-through solid;
    font-family: 'Chilanka', cursive;
    font-weight: 700;
}


.done-container {
    display: flex;
    background-color: rgb(86, 163, 250);
    font-family: 'Chilanka', cursive;
    font-weight: 700;
    font-size: 20px;
    height: 155px;
    justify-content: center;
    align-items: center;
}

.done-text {
    font-size: 40px;
    padding: 25px;
    padding-bottom: 15px;
    margin: 0;
}

.next {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    border: 1px solid #5AB439;
    border-radius: 5px;
    background-color: #5AB439;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.start {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    border: 1px solid #5AB439;
    border-radius: 5px;
    background-color: #5AB439;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.timer {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    border: 1px solid #5AB439;
    border-radius: 5px;
    background-color: #5AB439;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.next:hover, .start:hover, .timer:hover {
    background-color: #FFF0DA;
}
  
.next:focus, .start:focus, .timer:focus {
    outline:0;
}

.grey {
    background-color: rgb(143, 143, 143);
    border: 1px solid rgb(143, 143, 143);
}

.grey:hover {
    background-color: rgb(143, 143, 143);
}

.sticky-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(246, 124, 87);
}

.sticky-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #FFF0DA;
}

.sticky-item {
    font-family: 'Chilanka', cursive;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    padding-bottom: 3px;
    color: #FFF0DA;
}

.blue {
    background-color: rgb(86, 163, 250);
}

.nosleep-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  
.nosleep-button {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    border: 1px solid #AA7D39;
    border-radius: 5px;
    background-color: #AA7D39;
    padding: 10px;
}
  
.nosleep-button:hover {
    background-color: #FFF0DA;
}

.nosleep-button:focus{
     outline:0;
} 


@media only screen and (max-width: 1000px) {
    .current-line {
        font-size: 16px;
        height: 100%;
    }

    .current-line-time {
        font-size: 24px;
    }

    .next-text {
        font-size : 12px;
    }  

    .next-text > p {
        padding: 10px;
    }

    .previous-text {
        font-size : 12px;
    }

    .previous-text > p {
        padding: 10px;
    }

    .sticky-item {
        font-size: 12px;
    }


}