  .preparation-lines {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .inputs {
    font-family: 'Chilanka', cursive;
    font-weight: 700;
    font-size: 16px;
    background-color: #FFF0DA;
    border: 1px solid #AA7D39;
    border-radius: 5px;
    padding: 10px;
    padding-top: 13px;
    margin: 10px;
    margin-bottom: 5px;
  
    min-width: 350px;
    max-width: 20%;
  }
  
  .inputs:focus {
    outline:0;
  }
  
  .mini-input {
    min-width: 235px;
  }
  
  
  .input-number {
    font-size: 16px;
    font-family: 'Chilanka', cursive;
    font-weight: 700;
    color: #010100;
    margin: 10px;
    margin-bottom: 5px;
    padding: 10px;
    padding-top: 13px;
  }
  
  .option-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
  }
  
  .plus {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    border: 1px solid #AA7D39;
    border-radius: 5px;
    background-color: #AA7D39;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
  
  .plus:hover {
    background-color: white;
  }
  
  .plus:focus {
    outline:0;
  }
  
  .cook {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    border: 1px solid #5AB439;
    border-radius: 5px;
    background-color: #5AB439;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
  
  .cook:hover {
    background-color: white;
  }
  
  .cook:focus {
    outline:0;
  }
  
  @media only screen and (max-width: 1000px) {
 
    .preparation-lines {
      flex-direction: column;
      padding: 20px;
    }
  
    .inputs {
      min-width: 0;
      max-width: 100%;
    }
  
  }